dist/*
venv
.env
assets/fonts/fontawesome
assets/fonts/fontawesome.zip
assets/fonts/source-sans/
assets/js/tailwinds.js
assets/js/chart.js
assets/tailwindcss*

translations/*/*/*.mo

blog.json
donate.json
translate_stats.json
