<!DOCTYPE html>
<html lang="{{ lang }}" class="scroll-smooth">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/fonts/fork-awesome.min.css" />
    <link rel="stylesheet" href="assets/fonts/source-sans/source-sans-3.css" />
    {% block assets %}{% endblock %}

    {% if dev %}
        <link rel="stylesheet" href="assets/css/local.css" />
        <script src="assets/js/tailwinds.js"></script>
        <style type="text/tailwindcss">{{ tailwind_css }}</style>
        <script>
          tailwind.config = {
                darkMode: 'class',
          }
        </script>
    {% else %}
        <link rel="stylesheet" href="assets/css/prod.min.css" />
    {% endif %}

    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      function refreshColorMode() {
        document.documentElement.classList.toggle(
          "dark",
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches),
        );
        // Emit event so other code can hook theme change
        document.querySelector("html").dispatchEvent(new CustomEvent('theme-changed'))
      }

      function toggleColorMode() {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          localStorage.theme = "light";
        } else {
          localStorage.theme = "dark";
        }
        // Whenever the user explicitly chooses to respect the OS preference
        //localStorage.removeItem("theme");

        refreshColorMode();
      }

      refreshColorMode(); // refresh on load

    </script>



  </head>
  <body class="text-lg text-gray-900 dark:bg-neutral-900 dark:text-white transition-colors" style="font-family: 'Source Sans 3', sans-serif; font-optical-sizing: auto;">
    <header>
        <nav id="quick-access" aria-label="{{ _("Accessibility menu") }}">
            <a href="#main-content" class="sr-only">{{ _("Go to content") }}</a>
            <a href="#main-nav" class="sr-only">{{ _("Go to navigation") }}</a>
            <a href="#page-settings" class="sr-only">{{ _("Go to page settings") }}</a>
            <a href="https://doc.yunohost.org/search" class="sr-only">{{ _("Go to search") }}</a>
        </nav>

        <nav id="page-settings" aria-label="{{ _("Page settings") }}">

            <button type="button" class="z-50 absolute top-3 right-12 text-white" onclick='document.getElementById("lang-selector").classList.toggle("hidden");'>
                <i class="fa fa-language" aria-label="{{ _('Switch to a different language') }}"></i>
            </button>

            <div id="lang-selector" class="text-center hidden align-right z-50 absolute top-12 right-12 p-2 text-gray-800 bg-white rounded-md border">
                <ul>
                    {% for code, lang_native_name in langs.items() %}
                    <li><a class="hover:opacity-75" href="index.{{ code }}.html">{{ lang_native_name }}</a></li>
                    {% endfor %}
                    <li><a class="max-w-24 p-1 text-sm inline-block hover:opacity-75" href="https://translate.yunohost.org/projects/yunohost/landingpage/"><i class="fa fa-external-link" aria-hidden="true"></i> {{ _("Translate this page!") }}</a></li>
                </ul>
            </div>

            <button type="button" class="z-50 absolute top-3 right-3" onclick="toggleColorMode();">
                <!-- Dark/light mode icons -->
                <span class="dark:hidden" aria-label="{{ _('Switch to dark mode') }}">
                <svg alt="" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="w-6 h-6" aria-hidden="true">
                    <path d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" class="fill-sky-400/20 stroke-white"></path>
                    <path
                    d="M12 4v1M17.66 6.344l-.828.828M20.005 12.004h-1M17.66 17.664l-.828-.828M12 20.01V19M6.34 17.664l.835-.836M3.995 12.004h1.01M6 6l.835.836"
                    class="stroke-white"></path>
                </svg>
                </span>
                <span class="hidden dark:inline" aria-label="{{ _('Switch to light mode') }}">
                <svg alt="" viewBox="0 0 24 24" fill="none" class="w-6 h-6" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M17.715 15.15A6.5 6.5 0 0 1 9 6.035C6.106 6.922 4 9.645 4 12.867c0 3.94 3.153 7.136 7.042 7.136 3.101 0 5.734-2.032 6.673-4.853Z"
                    class="fill-white"></path>
                    <path
                    d="m17.715 15.15.95.316a1 1 0 0 0-1.445-1.185l.495.869ZM9 6.035l.846.534a1 1 0 0 0-1.14-1.49L9 6.035Zm8.221 8.246a5.47 5.47 0 0 1-2.72.718v2a7.47 7.47 0 0 0 3.71-.98l-.99-1.738Zm-2.72.718A5.5 5.5 0 0 1 9 9.5H7a7.5 7.5 0 0 0 7.5 7.5v-2ZM9 9.5c0-1.079.31-2.082.845-2.93L8.153 5.5A7.47 7.47 0 0 0 7 9.5h2Zm-4 3.368C5 10.089 6.815 7.75 9.292 6.99L8.706 5.08C5.397 6.094 3 9.201 3 12.867h2Zm6.042 6.136C7.718 19.003 5 16.268 5 12.867H3c0 4.48 3.588 8.136 8.042 8.136v-2Zm5.725-4.17c-.81 2.433-3.074 4.17-5.725 4.17v2c3.552 0 6.553-2.327 7.622-5.537l-1.897-.632Z"
                    class="fill-white"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M17 3a1 1 0 0 1 1 1 2 2 0 0 0 2 2 1 1 0 1 1 0 2 2 2 0 0 0-2 2 1 1 0 1 1-2 0 2 2 0 0 0-2-2 1 1 0 1 1 0-2 2 2 0 0 0 2-2 1 1 0 0 1 1-1Z"
                    class="fill-white"></path>
                </svg>
                </span>
            </button>
        </nav>

        {% block header %}
            <div class="flex flex-col justify-center text-white text-center relative h-[25rem] bg-top w-full bg-cover" style="background-image: linear-gradient(#0000, #0005), url(assets/img/garden.png); background-size: cover; background-position: bottom;">

                <img alt="{{ _("Yunohost logo") }}" class="self-center pt-5 w-32 mt-2 shadow-md" src="assets/img/ynh_logo_roundcorner.png" />
                <div class="self-center w-fit p-5 flex align-center justify-center font-bold text-5xl sm:text-6xl backdrop-blur-[1px]" style="text-shadow: 5px 5px 5px #000">
                    <h1>{% block header_title %}{{ _("Garden your own<br/>piece of the Internet!") }}{% endblock %}</h1>
                </div>

            </div>

            <!-- ############################################################################################################ -->

            <nav id="main-nav" class="w-full font-semibold py-2 pr-4 flex flex-col sm:flex-row justify-center z-50 bg-[#b6e39d] text-gray-800 dark:bg-[#0F321E] dark:text-white transition-colors text-2xl sm:text-lg" aria-label="{{ _("Main menu") }}">
                <button class="block sm:hidden w-full py-3" onclick="document.getElementById('main-menu-items').classList.toggle('hidden')"><i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
                <ul id="main-menu-items" class="justify-center flex-wrap flex-row hidden text-center sm:text-left sm:flex sm:space-x-10 sm:py-2">
                <li>
                    <a class="py-3 block sm:inline-block hover:opacity-75" href="/#main-content">{{ _("Discover") }}</a>
                </li>
                <li>
                    <a class="py-3 block sm:inline-block hover:opacity-75" href="/#apps">{{ _("Applications") }}</a>
                </li>
                <li>
                    <a class="py-3 block sm:inline-block hover:opacity-75" href="/#start">{{ _("Install") }}</a>

                </li>
                <li>
                    <a class="py-3 block sm:inline-block hover:opacity-75" href="https://doc.yunohost.org">{{ _("Documentation") }}<span class="opacity-50">↗</span></a>
                </li>
                <li>
                    <a class="py-3 block sm:inline-block hover:opacity-75" href="/#news">{{ _("Latest news") }}</a>
                </li>
                <li>
                    <a class="py-3 block sm:inline-block hover:opacity-75" href="/#community">{{ _("Community") }}</a>
                </li>
                </ul>
            </nav>
        {% endblock %}
    </header>

    <main id="{%- block page_id -%}{%- endblock -%}">
    {% block main %}
    {% endblock %}
    </main>

    <footer class="bg-[#b6e39d] dark:bg-[#0F321E] transition-colors relative">
        <div class="mx-3 py-3 md:mx-auto max-w-screen-md flex flex-col md:flex-row items-center md:items-start text-center md:text-left gap-5">
            <img alt="{{ _("Yunohost logo") }}" class="h-32 mt-8 lg:mr-8" src="assets/img/ynh_logo_roundcorner.png" />
            <div class="grid grid-cols-2 md:grid-cols-4 justify-center gap-5 py-5 leading-none">
                <div>
                    <h3>{{ _('Legal') }}</h3>
                    <ul>
                        <li class="pb-2"><a class="hover:opacity-75" href="https://github.com/YunoHost/yunohost/blob/dev/LICENSE">{{ _('License') }}</a></li>
                        <li class="pb-2"><a class="hover:opacity-75" href="https://doc.yunohost.org/terms_of_services">{{ _('Terms of services') }}</a></li>
                        {# <li class="pb-2"><a href="">{{ _('Legal mentions') }}</a></li> #}
                        {# <li class="pb-2"><a href="">{{ _('Accessibility') }}</a></li> #}
                        <li class="pb-2"><a class="hover:opacity-75" href="https://github.com/YunoHost/project-organization">{{ _('Organization') }}</a></li>
                        {# <li class="pb-2"><a href="">{{ _('Credits') }}</a></li> #}
                    </ul>
                </div>
                <div>
                    <h3>{{ _('Follow') }}</h3>
                    <ul>
                        {# <li><a href="">{{ _('Press kit') }}</a></li> #}
                        <li class="pb-2"><a class="hover:opacity-75" href="https://forum.yunohost.org/c/announcement/8/none">{{ _('Blog') }}</a></li>
                        <li class="pb-2"><a class="hover:opacity-75" href="https://toot.aquilenet.fr/@yunohost">{{ _('Mastodon') }}</a></li>
                        <li class="pb-2"><a class="hover:opacity-75" href="https://videos.globenet.org/a/yunohost/videos?s=1">{{ _('Peertube') }}</a></li>
                        {# <li class="pb-2"><a href="">{{ _('RSS feed') }}</a></li> #}
                    </ul>
                </div>
                <div>
                    <h3>{{ _('Use') }}</h3>
                    <ul>
                        <li class="pb-2"><a class="hover:opacity-75" href="https://doc.yunohost.org">{{ _('Documentation') }}</a></li>
                        <li class="pb-2"><a class="hover:opacity-75" href="https://apps.yunohost.org/">{{ _('Apps store') }}</a></li>
                        <li class="pb-2"><a class="hover:opacity-75" href="https://forum.yunohost.org">{{ _('Forum') }}</a></li>
                        <li class="pb-2"><a class="hover:opacity-75" href="https://doc.yunohost.org/help">{{ _('Self-help chat') }}</a></li>
                        <li class="pb-2"><a class="hover:opacity-75" href="https://status.yunohost.org">{{ _('Services status') }}</a></li>
                        <li class="pb-2"><a class="hover:opacity-75" href="https://github.com/YunoHost/yunohost/blob/dev/debian/changelog">{{ _('Changelog') }}</a></li>
                    </ul>
                </div>
                <div>
                    <h3>{{ _('Contribute') }}</h3>
                    <ul>
                        <li class="pb-2"><a class="hover:opacity-75" href="https://donate.yunohost.org">{{ _('Donate') }}</a></li>
                        {# <li class="pb-2"><a href="">{{ _('Chat') }}</a></li> #}
                        <li class="pb-2"><a class="hover:opacity-75" href="https://github.com/YunoHost/issues/issues">{{ _('Issues tracker') }}</a></li>
                        <li class="pb-2"><a class="hover:opacity-75" href="https://doc.yunohost.org/security_team">{{ _('Security') }}</a></li>
                        <li class="pb-2"><a class="hover:opacity-75" href="https://github.com/yunohost">{{ _('Code (core)') }}</a></li>
                        <li class="pb-2"><a class="hover:opacity-75" href="https://github.com/yunohost-apps">{{ _('Code (apps)') }}</a></li>
                        <li class="pb-2"><a class="hover:opacity-75" href="https://translate.yunohost.org/">{{ _('Translation') }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


<!--
{# Disable this on generated page
-->
<script>
    function walkText(node) {
  if (node.nodeType == 3) {
      node.data = node.data.replace(/(\{\{ _\(("|')|("|')\).* \}\})/g, "");
  }
  if (node.nodeType == 1 && node.nodeName != "SCRIPT") {
    for (var i = 0; i < node.childNodes.length; i++) {
      walkText(node.childNodes[i]);
    }
  }
}
walkText(document.body);
</script>
<!--
#}
-->
  </body>
</html>
